@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
    background-color: #EEEEEE;

}

#login {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 6% auto;
}


#cardApresentacao, #cardLogin {
    width: 500px;
    height: 535px;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}

#cardApresentacao {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #FFFFFF;
}

#cardLogin {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #FFFFFF;
}

#cardBemVindo {
    margin: 5% auto;
    width: fit-content;
    height: fit-content;
}

.CardImg {
    margin: 10% auto;
}

#imgNome {
    width: 250px;
}

#imglogotipo {
    width: 180px;
    padding-left: 5vh;

}

#areaTxtCard {
    margin: auto;
    width: fit-content;
    height: fit-content;
}

#txtBemVindo {
    font-size: 22pt;
    font-family: 'Roboto Serif', serif;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 13px;
}

#cardMenu {
    display: flex;
    flex-wrap: wrap;
    margin: 4% auto;
    width: fit-content;
    height: fit-content;
}

#cardHome {
    width: fit-content;
    height: fit-content;
    margin-right: 46px;
}

#cardCadastrar {
    width: fit-content;
    height: fit-content;
}


#imgHome {
    width: 57px;
    padding-left: 19px;
    margin-top: 8px;
    margin-left: 8px;
}

#imgCadasrtrar {
    width: 65px;
    padding-left: 13px;
}

#txtIconePag {
    margin-top: 6px;
}

#txtIconeCad {
    margin-top: 0px;
}

#txtIconeCad, #txtIconePag {
    margin-bottom: 0px;
    font-family: 'Acme', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

#user {
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 4%;
}

#imgUser {
    width: 100px;
    padding-left: 14px;
}

.txtLogin {
    font-family: 'Roboto Serif', serif;
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #0a0a0a;
}

#campoLogin {
    margin: auto;
}

#campoUser {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.campoInfor {
    display: flex;
    margin: auto;
}

#mostrarSenha {
    display: flex;
    margin-top: 4px;
}


#esqueceuSenha {
    margin-top: 2%;
    float: right;
}

#floatingInput, #floatingPassword{
    border-color: #0a0a0a;
}

.btnForm {
    margin: 2% auto;
    width: fit-content;
    height: fit-content;
}

form {
    font-family: 'Acme', sans-serif;
}

.alertCampo {
    color: black;
}


#btnEnviar {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    color: rgb(0, 0, 0);
    background-color: #9f9d9d;
    box-shadow: #bdb8b8 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    transition: all 0.5s ease;
}

#btnEnviar:hover {
    letter-spacing: 3px;
    background-color: #9f9d9d;
    color: hsl(0, 0%, 5%);
    box-shadow: #9f9d9d 0px 7px 29px 0px;
}

#btnEnviar:active {
    letter-spacing: 3px;
    font-weight: bold;
    background-color: #3b3b3b;
    color: hsl(0, 0%, 100%);
    box-shadow: #3b3b3b 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


#nameErrorSenha, #nameErrorNome {
    display: none;
    font-size: 13pt;
    color: #d20505;
}

#nameErrorSenha.visible, #nameErrorNome.visible {
    display: block;
}

input.invalid {
    border: 3px solid #000000;
}



/* checkBox */

.ui-checkbox {
    --primary-color: #4096ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #0a0909;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    margin-right: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}