.formulario {
    padding: 50px;
    background-color: rgba(220, 220, 220, 0.559);
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.campo {
    height: 34.6px;
    width: 290px;
    border: 2px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.formDados {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.campoCategoria {
    width: 219px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.formSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.descricao {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
}

.descricaoPrevia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 312px;
}

#descPrevia {
    word-wrap: break-word;

}

.descricaoCompleta .form-control {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 311px;
    height: 92px;
}

.ImagensProduto {
    width: 531px;
    margin:  auto;
}

#areaButtonImg {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

#txtImagem {
    margin-top: 13px;
}

.btnAcoes {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    transition-duration: 0.2s;
    border: 2px solid #d3d3d3;
    margin-top: 5px;
}

.btnAcoes:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}

.areaBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

/* botoes de salvar e cancelar */
.btnDiv {
    margin: 5px;
}


/* botoes de salvar e cancelar */

#btnSalvar, #btnCancelar {
    width: 92px;
    height: fit-content;
    padding: 7px;
    border-radius: 10px;
    margin-right: 14px;
    font-weight: bolder;
}


#btnCancelar {
    background-color: rgb(248, 112, 112);
    border: 1px solid rgb(255, 76, 76);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#btnSalvar {
    background-color: rgb(124, 203, 110);
    border: 1px solid rgb(86, 183, 69);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#btnSalvar:hover, #btnCancelar:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}


#imgPrevia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagensUpload {
    width: 69px;
    height: 129px;
    margin: 3px;
}


