* {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.box {
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 6px;
}

.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.uploadlabel {
    width: 100%;
    min-height: 100px;
    background: #0000000d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #00000099;
    cursor: pointer;
}

.uploadlabel span {
    font-size: 70px;
    color: #18a7ff;
}

.uploadlabel p {
    color: #060606;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}

.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showfilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 10px 0;
    margin-bottom: 5px;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;

}

.showfilebox .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filetype {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    width: 62px;
    height: 62px;
}

.imgProduto {

    max-width: 100%;
    max-height: 100%;

}


.left h3 {
    font-weight: 600;
    font-size: 18px;
    color: #292f42;
    margin: 0;
    width: 306px;
    word-break: break-all;
}

.right span {
    background: #18a7ff;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
}

.btnacao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}


h5 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
}

#txtImgSelecionada {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


#quantidadeCadastrada {
    margin-left: 9px;
    font-size: 16px;
    font-weight: 700;
    color: #3b3b3b;
}

#arquivo {
    background-color: #18a7ff;
}


/* printar as imagens */
#formularioPrintarImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.localImgPrintar {
    width: 28%;
    margin: 19px;
}


.imgPrintar {
    width: 100%;
}

#btnAlterar, #btnCancelar {
    width: 92px;
    height: fit-content;
    padding: 7px;
    border-radius: 10px;
    margin-right: 14px;
    font-weight: bolder;
}

#btnAlterar {
    background-color: rgb(124, 203, 110);
    border: 1px solid rgb(86, 183, 69);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#btnAlterar:hover, #btnCancelar:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}