@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');



/* .formulario {
    background-color: rgba(220, 220, 220, 0.559);
    width: 559px;
    margin: 160px auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */


#btnSalvar, #btnCancelar {
    width: 92px;
    height: fit-content;
    padding: 7px;
    border-radius: 10px;
    margin-right: 14px;
    font-weight: 900;
}


#btnCancelar {
    background-color: rgb(248, 112, 112);
    border: 1px solid rgb(255, 76, 76);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#btnSalvar {
    background-color: rgb(124, 203, 110);
    border: 1px solid rgb(86, 183, 69);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#btnSalvar:hover, #btnCancelar:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}