@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

body{
    background-color: #999999;
}

.fundoProduto {
    background-color: rgb(255, 255, 255);
    margin: 2% auto;
    width: 72%;
    height: fit-content;
    padding: 2px;
    margin-bottom: 5%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cardsProduto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.areaCarrossel {
    padding: 5px;
}

.imgProdCarrossel, .imgPrincipalCarrossel {
    width: 491px;
    height: 566px;
    border-radius: 15px;
}

@media (max-width: 1080px) {
    .imgProdCarrossel, .imgPrincipalCarrossel {
        width: 100%;
    }
}

.imgCarrossel {
    margin: auto;
    width: 100%;
    height: 100%;

}

.carousel-indicators [data-bs-target] {
    width: 49px;
    height: 62px;
}

/* informações do produto */

.inforProduto {
    margin: 10px;
}

.codigoProduto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9.5pt;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.areaFavorito {
    margin: 5px;
}

.favorito {
    width: 27px;
}

#btnFavorito {
    padding: 1px;
}

#btnFavorito:hover {
    animation: heartButton 1s;
}

@keyframes heartButton {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.tituloDoProduto {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.precoProduto {
    text-align: center;
    margin-bottom: 5px;
}

.precoProduto .antesDaProma {
    font-size: 15pt;
}

.precoProduto .precoNormal {
    font-size: 20pt;
}

.precoProduto .desconto {
    font-size: 13pt;
}

.precoProduto .desconto {
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.areaQtd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.qtdDisponivel {
    display: flex;
    font-size: 13pt;
    color: #000000;
    flex-direction: row;
    margin-right: 13px;
}

#qtdEstoque {
    font-weight: bold;
}

#qtdProd {
    width: 66px;
    height: 27px;
    margin-left: 5px;
    font-size: 11pt;
    padding: 0px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}


#qtdProd:hover{
    border: 2px solid black;
}


/* add car */

#addCar {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CartBtn {
    width: 206px;
    height: 29px;
    border-radius: 12px;
    border: none;
    background-color: #fdfd96;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.497);
    position: relative;
    margin: 10px;
}

#addCar #BtnCar {
    background-color: #84b6f4;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.icon {
    border-radius: 1px;
}

#BtnCar .IconContainer {
    left: -20px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 12pt;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

/* descrição do produto */

#descricao{
    width: 428px;
    margin: auto;
    height: 279px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1080px) {
    #descricao {
        width: 100%;
    }
}

.tituloDaDescricao{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 6px;
    font-family: 'Roboto';
    font-weight: 900;
}

.areaDaDescricao{
    height: 211px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
