<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PandaTec</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="upload/Logotipo/logotipoPanda.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../view/style/nav.css">
    <link rel="stylesheet" href="../../view/style/search.css">

<body>

    <!-- barra de navegação lateral -->

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Try scrolling the rest of the page to see this option in action.</p>
        </div>
    </div>



    <!-- barra de navegação -->
    <nav class="navbar fixed-top bg-body-tertiary" style="padding-top: 0;">
        <div class="container-fluid" style="background-color:rgba(68, 71, 72, 1);">
            <div id="areaNav">
                <div id="areaLogoBtn">
                    <div id="ImgSite"><a href="HomePage.html"><img id="imgLogotipoNome"
                                src="../../../upload/Logotipo/nomeSite.png" alt="logotipoNome"></a></div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"
                        id="BtnMenu">
                        <div id="areaBtn">
                            <div id="divImgMenu">
                                <img id="imgMenu" src="../../../upload/icones/menu.png" alt="menu">
                            </div>
                            <div class="textBtn text1"><span>Acesso todos os</span></div>
                            <div class="textBtn text2"><strong>dapartamento</strong></div>
                        </div>
                    </button>
                    <div id="logotipo"><a class="navbar-brand" href="HomePage.html"><img id="imgLogotipo"
                                src="../../../upload/Logotipo/logotipoPanda.png" alt="logotipo"></a></div>
                </div>
                <div id="areaSearch">
                    <input id="search__input" type="text" placeholder="Search">
                </div>
            </div>
        </div>
    </nav>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>